<nav class="bg-[#121212] text-white pt-10 pb-10 flex justify-center items-center w-full">
<div class="flex justify-between w-4/5">
    <div class="logo">
        <img src="../../assets/soloview.svg" alt="Logo" class="h-8">
    </div>
    <div class="hidden md:flex space-x-4">
        <a routerLink="/geral"
            class="font-semibold text-white cursor-pointer border-b-2 border-transparent transition-all duration-150 hover:border-gray-500">Geral</a>
        <a routerLink="/umidade"
            class="font-semibold text-white cursor-pointer border-b-2 border-transparent transition-all duration-150 hover:border-gray-500">Umidade</a>
        <a routerLink="/temperatura"
            class="font-semibold text-white cursor-pointer border-b-2 border-transparent transition-all duration-150 hover:border-gray-500">Temperatura</a>
        <a routerLink="/luminosidade"
            class="font-semibold text-white cursor-pointer border-b-2 border-transparent transition-all duration-150 hover:border-gray-500">Luminosidade</a>
        <a routerLink="/notificacao"
            class="font-semibold text-white cursor-pointer border-b-2 border-transparent transition-all duration-150 hover:border-gray-500">Notificações</a>
    </div>
    <div class="hidden md:block hover:cursor-pointer">
        <svg width="25" height="23" viewBox="0 0 25 23" fill="none" xmlns="http://www.w3.org/2000/svg"
            (click)="logout()">
            <path
                d="M9.375 0V3.24675H21.875V19.4805H9.375V22.7273H25V0H9.375ZM6.25 6.49351L0 11.3636L6.25 16.2338V12.987H18.75V9.74026H6.25V6.49351Z"
                fill="#FFFFFF" />
        </svg>
    </div>
    <div class="md:hidden">
        <button (click)="toggleMenu()" *ngIf="!menuOpen">
            <img src="../../assets/menu.svg" alt="Menu">
        </button>
    </div>

</div>
</nav>
<div class="md:hidden absolute top-0 left-0 w-full h-full bg-[#121212] flex flex-col items-center justify-center space-y-4 z-50"
    *ngIf="menuOpen">
    <img src="../../assets/close.svg" alt="Close" class="absolute top-5 right-5 cursor-pointer" (click)="toggleMenu()">
    <a routerLink="/geral"
        class="font-semibold text-white cursor-pointer border-b-2 border-transparent transition-all duration-150 hover:border-gray-500"
        (click)="toggleMenu()">Geral</a>
    <a routerLink="/umidade"
        class="font-semibold text-white cursor-pointer border-b-2 border-transparent transition-all duration-150 hover:border-gray-500"
        (click)="toggleMenu()">Umidade</a>
    <a routerLink="/temperatura"
        class="font-semibold text-white cursor-pointer border-b-2 border-transparent transition-all duration-150 hover:border-gray-500"
        (click)="toggleMenu()">Temperatura</a>
    <a routerLink="/luminosidade"
        class="font-semibold text-white cursor-pointer border-b-2 border-transparent transition-all duration-150 hover:border-gray-500"
        (click)="toggleMenu()">Luminosidade</a>
    <a routerLink="/notificacao"
        class="font-semibold text-white cursor-pointer border-b-2 border-transparent transition-all duration-150 hover:border-gray-500"
        (click)="toggleMenu()">Notificações</a>
    <hr />
    <svg width="25" height="23" viewBox="0 0 25 23" fill="none" xmlns="http://www.w3.org/2000/svg"
        class="hover:cursor-pointer" (click)="logout()">
        <path
            d="M9.375 0V3.24675H21.875V19.4805H9.375V22.7273H25V0H9.375ZM6.25 6.49351L0 11.3636L6.25 16.2338V12.987H18.75V9.74026H6.25V6.49351Z"
            fill="#FFFFFF" />
    </svg>

</div>