<div class="flex items-center justify-center min-h-screen">
  <div class="w-full max-w-md">
    <div class="p-8 m-4">
      <h2 class="text-3xl font-bold mb-4 text-white text-center">Meu perfil</h2>
      <form [formGroup]="perfilForm">
        <!-- Nome -->
        <div class="mb-4">
          <label for="nome" class="block text-white font-bold">Nome</label>
          <input id="nome" name="nome" type="text" placeholder="Nome do usuário" formControlName="name"
            class="w-full mt-1 p-2 bg-transparent border border-[#00ff00] text-white rounded-md outline-none placeholder:text-sm placeholder:font-medium placeholder:text-[#AAAAAA]" />
        </div>

        <!-- E-mail -->
        <div class="mb-4">
          <label for="email" class="block text-white font-bold">E-mail</label>
          <input id="email" name="email" type="email" placeholder="Digite seu e-mail" formControlName="email"
            class="w-full mt-1 p-2 bg-transparent border border-[#00ff00] text-white rounded-md outline-none placeholder:text-sm placeholder:font-medium placeholder:text-[#AAAAAA]" />
        </div>

        <!-- Cidade -->
        <div class="mb-4">
          <label for="cidade" class="block text-white font-bold">Cidade</label>
          <input id="cidade" name="cidade" type="text" placeholder="Qual sua cidade?" formControlName="city"
            class="w-full mt-1 p-2 bg-transparent border border-[#00ff00] text-white rounded-md outline-none placeholder:text-sm placeholder:font-medium placeholder:text-[#AAAAAA]" />
        </div>

        <!-- Fazenda -->
        <div class="mb-4">
          <label for="fazenda" class="block text-white font-bold">Fazenda</label>
          <input id="fazenda" name="fazenda" type="text" placeholder="Digite o nome da sua fazenda"
            formControlName="farm"
            class="w-full mt-1 p-2 bg-transparent border border-[#00ff00] text-white rounded-md outline-none placeholder:text-sm placeholder:font-medium placeholder:text-[#AAAAAA]" />
        </div>

        <!-- Botão salvar -->
        <button type="submit"
          class="w-full bg-[#00ae0a] py-2 px-4 text-white cursor-pointer font-bold rounded-md shadow-md focus:outline-none">
          SALVAR
        </button>
      </form>
    </div>
  </div>
</div>