<div class="flex items-center justify-center h-dvh">
    <div class="min-w-[80%] p-8 m-4">
        <h2 class="text-3xl font-bold mb-4 text-white text-center">Sensores configurados</h2>
        <p class="text-center text-gray-300 mb-8">{{farm}}</p>
        <div class="border border-[#D9D9D9] rounded-md">
            <div *ngIf="!sensorData$" class="border border-[#ff0000] rounded-md m-4 p-4">
                <p class="text-white font-bold text-center">Não há sensores cadastrados ou dados ainda!</p>
            </div>
            <div *ngFor="let sensor of (sensorData$ | async); let i = index" class="border border-[#00ff00] rounded-md
            m-4 p-4">
                <p class="text-white font-bold mb-2">ID: {{sensor.id}}</p>
                <p class="text-white font-bold mb-2">USUÁRIO: <span class="font-normal">{{name}}</span></p>
                <p class="text-white font-bold">Modelo: <span class="font-normal">DHT11</span></p>
            </div>
        </div>
    </div>
</div>