<div class="flex">
    <nav class="absolute z-50 bg-[#141414] text-white h-screen w-[70px] flex flex-col items-center py-10 rounded-tr-[50px] rounded-br-[50px] text-sm">
        <div class="logo mb-10">
            <a routerLink="/geral">
                <img src="../../assets/soloview.svg" alt="Logo" class="h-6">
            </a>
        </div>
        <div class="flex flex-col space-y-4 items-center flex-1 justify-center">
            <a routerLink="/umidade" class="cursor-pointer">
                <img src="../../assets/humidity.svg" alt="Umidade" class="h-6">
            </a>
            <a routerLink="/temperatura" class="cursor-pointer">
                <img src="../../assets/temperature.svg" alt="Temperatura" class="h-6">
            </a>
            <a routerLink="/luminosidade" class="cursor-pointer">
                <img src="../../assets/sensors.svg" alt="Luminosidade" class="h-6">
            </a>
            <a routerLink="/notificacao" class="cursor-pointer">
                <img src="../../assets/farmer.svg" alt="Notificações" class="h-6">
            </a>
        </div>
        <div class="mt-auto mb-10 hover:cursor-pointer" (click)="logout()">
            <img src="../../assets/logout.svg" alt="Logout" class="h-6">
        </div>
    </nav>
</div>
