<div class="flex flex-col items-center justify-center min-h-screen bg-[#282828]">
    <div class="text-center mb-8">
        <h2 class="text-4xl font-bold text-white">Bem vindo de volta, Visitante!</h2>
        <p class="text-lg text-gray-300 mt-2">{{city}}</p>
        <div class="flex items-center justify-center mt-2">
            <img src="../../assets/sun-icon.svg" alt="Ícone de sol" class="w-10 h-10 mr-2" />
            <p class="text-white text-2xl">99 °C</p>
        </div>
    </div>

    <div class="flex flex-row gap-8 mb-12">
        <!-- Gráfico de Temperatura -->
        <div>
            <h2 class="text-2xl font-bold text-white">Temperatura</h2>
            <div class="bg-transparent border border-[#D9D9D9] rounded-lg p-4 w-[750px]">
                <h3 class="text-white font-semibold mb-4 text-center">Últimas horas</h3>
                <p-chart type="line" [data]="temperatureData" [options]="temperatureOptions"></p-chart>
                <button class="bg-[#00ae0a] py-2 px-4 text-white cursor-pointer font-bold rounded-md w-full mt-4">Ver mais</button>
            </div>
        </div>

        <!-- Gráfico de Umidade -->
        <div>
            <h2 class="text-2xl font-bold text-white">Umidade</h2>
            <div class="bg-transparent border border-[#D9D9D9] rounded-lg p-4 w-[750px]">
                <h3 class="text-white font-semibold mb-4 text-center">Últimas horas</h3>
                <p-chart type="line" [data]="humidityData" [options]="humidityOptions"></p-chart>
                <button class="bg-[#00ae0a] py-2 px-4 text-white cursor-pointer font-bold rounded-md w-full mt-4">Ver mais</button>
            </div>
        </div>
    </div>

    <div class="flex flex-row gap-6">
        <!-- Botão Sensores -->
        <button
            class="flex items-center gap-2 bg-transparent border border-[#00ff00] text-white py-2 px-4 rounded-lg shadow-md">
            <img src="../../assets/sensors.svg" alt="Icone Sensores" class="w-6 h-6" />
            Sensores
        </button>

        <!-- Botão Perfil -->
        <button
            class="flex items-center gap-2 bg-transparent border border-[#00ff00] text-white py-2 px-4 rounded-lg shadow-md">
            <img src="../../assets/farmer.svg" alt="Icone Perfil" class="w-6 h-6" />
            Perfil
        </button>
    </div>
</div>